<html>
<head>
<title>Todo List</title>
<script src="jquery-3.4.1.min.js"></script>
<link href="/assets/styles.css" rel="stylesheet" type="text/css"/>

</head>
<body>
  <h1>My Todo List</h1>
  <br>
  <br>
<div id="todo-table">
  <form class="" action="index.html" method="post">
    <input type="text" name="item" placeholder="Add new item" required>
    <button type="submit" name="button">Add item</button>
  </form>
  <ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul>
</div>
</body>
</html>
